@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50vh;
  min-height: 105vh;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  max-height: 200vh;
  background: url("../img/hero-bg.jpg"), #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.delvekep{
  width: fit-content;
  height: 4em;
  margin-left: -0.75em;
}

.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  margin-top: -1.5em;
}

.wrapper.hide{
  display: none;
}

#message {
  display: none;
  background-color:#721c24;
  padding: 20px;
  margin: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

#button{
  margin-top: 2em;
}

#tos{
  margin-top: 1em;
}

#remember_me{
  float: left;
  margin-top: 0.3em;
}

#white-text{
  color: white;
  text-align: center;
  margin-left: -3em;
  margin-top: -0.1em;
  display: inline-block;
}

#white-text2{
  color: white;
  text-align: center;
  margin-left: -12em;
  margin-top: -0.1em;
  display: inline-block;
}

#white-text3{
  color: white;
  text-align: center;
  margin-left: 0.5em;
  display: inline-block;
}

#cetli{
  margin-bottom: 1em;
}

#remember{
  margin-bottom: 1em;
}

#gomb{
  margin-bottom: 1em;
}

#box
{
  float: left;
  margin-top: 0.4em;
}

.alert{
  margin-top: 1em;
  margin-bottom: 0.5em;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  position: relative; /* A bezárás gombhoz */
  border: 1px solid transparent; /* Alapértelmezett keret */
}

.alert-error {
  color: #721c24; /* Szöveg színe */
  background-color: #f8d7da; /* Háttér színe */
  border-color: #f5c6cb; /* Keret színe */
  text-align: center;
}

.alert .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 12px;
  margin-left: 3px;
  left: 320px;
  font-weight: bolder;
}

.alert .closebtn:hover {
  color: black; /* Szín váltás hoverra */
}



/* jelszó elrejtés és megmutatás*/

 .container {
  --color: #a5a5b0;
  --size: 22px;
  display: flex;
  justify-content: center;
  align-items:end;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  margin-left: 14em;
  margin-top: -1.2em;
}

.container .eye {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container .eye-slash {
  position: absolute;
  animation: keyframes-fill .5s;
  display: none;
}

/* ------ On check event ------ */
.container input:checked ~ .eye {
  display: none;
}

.container input:checked ~ .eye-slash {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}